.languages {
    margin: 45px 0 0 40px;
}

.languages-list {
    padding-left: 17px;
}

.languages-item {
    color: #74247b;
}

.languages-item-text {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}