// .soft-skills {
//     margin: 45px 0 0 40px;
// }

.soft-skills-list {
    padding-left: 17px;
}

.soft-skills-item {
    color: #74247b;
}

.soft-skills-item-text {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}