.tech-skills-list {
    padding-left: 17px;
}

.tech-skills-item {
    color: #74247b;
}

.tech-skills-item-text {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}