.my-work-expiriense-company-block {
    margin: 0 0 15px 0;
}

.my-work-expiriense-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.my-work-expiriense-company {
 color: #FB6D3A;
}

.my-work-expiriense-period {
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #a8a8a8;
margin-bottom: 10px;
}

.my-work-expiriense-devider {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: black;
}

.my-work-expiriense-duties {
    padding: 0 0 0 18px;
}

.my-work-expiriense-duty {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}